fastapi==0.85.0
uvicorn==0.18.0
pydantic>=1.10.0,<2.0.0
qdrant-client==1.1.1
requests==2.28.1
python-dotenv==0.21.0
PyPDF2==2.11.1
docx2txt==0.8
openpyxl==3.0.10
python-multipart==0.0.5
rank-bm25==0.2.2
